html, body {
    height: 100%;
    margin: 0;
  }

#map { 
    height: 100%;
    width: 100vw;
    z-index: 1; 
}
.navbar {
    z-index: 3;
}

.mapbox-directions-profile-driving {
    display: none;
}